:root {
    --icon-witdh: 150px;
    --icon-height: 150px;
    --num-icons: 10;
    --dark-blue: #162f4d;
    --blue: #405D72;
    --light-blue: #758694;
    --beige: #F7E7DC;
    --light-beige: #FFF8F3;
    --red: #cc3d3d;
    --gray: #b4b7bd;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN STYLES */

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--blue);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position : relative;
}

h1 {
    font-size: 4rem;
    color: var(--beige);
    text-transform: uppercase;
    margin: 2rem 0;
    user-select: none;
    text-align: center;
}


/* WIN CONDITIONS */

.win-conditions {
    width: 500px;
    height: 60vh;
    text-align: center;
    padding: 2rem;
    color: var(--blue);
    background-color: var(--gray);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position : absolute;
    top: 20vh;
    left: -450px;
    transform: translateX(-50%);
    z-index: 1000;
}

.text {
    width: 100%;
    height: 100%;
    position: relative;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    position: absolute;
    top : 0;
    left: 50%;
    transform: translateX(-50%);
}

.rules {
    font-size: 1.1rem;
    margin: 1rem 0;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#close-button {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 100%;
    font-family: monospace;
    font-size: 3rem;
    color: var(--light-beige);
    background-color: transparent;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    margin-right: -2rem;
}

button#open-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 100%;
    font-family: monospace;
    font-size: 3rem;
    color: var(--light-beige);
    background-color: transparent;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    margin-right: -2rem;
}


/* SLOT MACHINE */

.machine {
    width: calc(var(--icon-witdh) * 4.5);
    height: 100%;
    background-color: var(--beige);
    border-radius: 20px;
    border: 3px solid var(--light-blue);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.slots {
    width: calc(var(--icon-witdh) * 4);
    height: calc(var(--icon-height) * 3.4);
    padding: calc(var(--icon-height) * 0.2);
    border: 3px solid var(--light-blue);
    border-radius: 20px;
    background-color: var(--beige);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.reel {
    width: var(--icon-witdh);
    height: calc(var(--icon-height) * 3);
    background-color: var(--light-beige);
    background-image: url("symbols.png");
    background-repeat: repeat-y;
    background-position: 0 0;
    border-radius: 10px;
    box-shadow: 1px 1px var(--light-blue);
    position: inherit;
    z-index: 100;
}

.indicator {
    width: 95%;
    height: 5px;
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    z-index: 1;
    background-color: var(--red);
}

button#spin-button {
    font-family: monospace;
    font-size: 1.5rem;
    color: var(--light-blue);
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--light-blue);
    background: var(--light-beige);
    box-shadow: 3px 3px var(--light-blue);
    cursor: pointer;
    margin: 35px 0 0; 
}

button:active#spin-button {
    box-shadow: none;
    transform: translate(3px, 3px);
}