:root {
    --icon-witdh: 150px;
    --icon-height: 150px;
    --num-icons: 10;
    --light-blue: #758694;
    --beige: #F7E7DC;
    --light-beige: #FFF8F3;
    --red: #cc3d3d;
    --light-gray: #afafaf;
    --light-red: #9f5f5f;
}

/* FONT */

@font-face {
    font-family: 'Casino';
    src: url('font/Casino.ttf') format('truetype');
}


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* MAIN STYLES */

html,
body {
    font-family: 'Casino';
    min-height: 100vh;
    background: linear-gradient(200deg, var(--light-gray) 0%, var(--light-red) 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position : relative;
}

h1 {
    font-size: 6rem;
    color: var(--beige);
    text-transform: uppercase;
    margin: 2rem 0;
    user-select: none;
    text-align: center;
    letter-spacing: 7px;
}

/*WALLET*/

.wallet {
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 1.5rem;
    color: var(--beige);
    background-color: var(--red);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid var(--beige);
}

/* WIN CONDITIONS */

.win-conditions {
    width: 500px;
    text-align: center;
    padding: 2rem;
    color: var(--beige);
    background-color: var(--red);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position : absolute;
    top: 30vh;
    left: -450px;
    z-index: 1000;
}

.text {
    width: 100%;
    height: 100%;
    position: relative;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.rules {
    width: 100%;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rules p {
    margin: 0;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.rules img {
    width: 2rem;
}

button#close-button {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 100%;
    font-family: monospace;
    font-size: 3rem;
    color: var(--light-beige);
    background-color: transparent;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    margin-right: -2rem;
}

button#open-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 100%;
    font-family: monospace;
    font-size: 3rem;
    color: var(--light-beige);
    background-color: transparent;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    margin-right: -2rem;
}


/* SLOT MACHINE */

.game {
    /* width: calc(var(--icon-witdh) * 5.3); */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1rem;
    transform: translateX(30px);
}

.machine {
    width: calc(var(--icon-witdh) * 4.5);
    background-color: var(--beige);
    border-radius: 20px;
    border: 3px solid var(--red);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.slots {
    width: calc(var(--icon-witdh) * 4);
    height: calc(var(--icon-height) * 3.4);
    padding: calc(var(--icon-height) * 0.2);
    border: 3px solid var(--red);
    border-radius: 20px;
    background-color: var(--beige);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.reel {
    width: var(--icon-witdh);
    height: calc(var(--icon-height) * 3);
    background-color: var(--light-beige);
    background-image: url("symbols/symbols.png");
    background-repeat: repeat-y;
    background-position: 0 0;
    border-radius: 10px;
    box-shadow: 1px 1px var(--light-blue);
    position: inherit;
    z-index: 100;
}

.indicator {
    width: 95%;
    height: 5px;
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    z-index: 1;
    background-color: var(--red);
}

button#spin-button {
    font-family: 'Casino';
    font-size: 1.5rem;
    color: var(--red);
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--red);
    background: var(--light-beige);
    box-shadow: 3px 3px var(--red);
    cursor: pointer;
    margin: 35px 0 0; 
}

button:active#spin-button {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.bet {
    position: absolute;
    bottom: calc(2.75rem + 5px);
    left: 2rem;
}

label {
    font-size: 1.2rem;
    color: var(--red);
    margin-right: 0.5rem;
}

input {
    font-family: monospace;
    font-size: 1.2rem;
    color: var(--red);
    padding: 5px;
    border: 2px solid var(--red);
    border-radius: 5px;
    text-align: center;
    background-color: var(--light-beige);
}

/* LEVER */

.lever {
    width: calc(var(--icon-witdh) * 0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lever .circle {
    width: calc(var(--icon-witdh) * 0.36);
    height: calc(var(--icon-height) * 0.36);
    background-color: var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(var(--icon-height) * 0.54 + 2rem + 6px);
    transform: translateY(-50%);
    z-index: 100;
}

.lever .stick {
    width: 10px;
    height: calc(var(--icon-height) * 1.3);
    background-color: var(--light-blue);
    position: absolute;
    top: calc(var(--icon-height) * 0.7 + 2rem + 6px);
}

.lever .base{
    width: calc(var(--icon-witdh) * 0.4);
    height: calc(var(--icon-height) * 0.6);
    background-color: var(--beige);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(var(--icon-height) * 1.7 + 2rem + 6px);
    transform: translateY(-50%);
}

